/* bmi.css */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #8ddadd);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: rgb(112, 227, 204);
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 700px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    color: #555;
    margin: 0px;
}


input[type="number"],
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

input[type="text"] {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

button {
    padding: 10px 20px;
    background-color: #569bd0;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h4 {
    color: #444;
}

#weight-condition {
    font-weight: bold;
    color: #007BFF;
    text-decoration: underline;
}

#display {
    color: #222;
}
